html, body, main {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    height: 100%;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

main {
    display: flex;
    min-width: 100vh;
}

.btn {
    border: none;
    background-color: grey;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
    font-size: 1rem;
    height: 2.4rem;
    line-height: 2.2rem;
    margin: 0 1rem;
    min-width: 10rem;
    outline: 0;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.btn-reverse {
    background-color: white;
    color: grey;
}

input[type='file'] {
    display: none;
}

.files {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.files footer {
    align-self: flex-start;
    background-color: #6891dc;
    height: 10px;
    width: 0%;
}

.controls {
    margin: 1rem;
}

.file-list {
    border: 2px inset;
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style: none;
    padding: 1rem;
    width: 96%;
}

.file {
    padding-bottom: 0.2rem;
}

aside {
    align-items: center;
    background-color: #454545;
    box-shadow: 0 0 10px black;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 30vw;
}

.new-location {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem;
    width: 100%;
}

.new-location > input {
    border: none;
    border-radius: 0.2rem;
    margin-left: 1rem;
    padding: 0.5rem;
    width: 60%;font-size: 1rem;
}

.locations {
    list-style: none;
    width: 90%;
}

.location {
    background-color: #a5e5ff;
    color: #000;
    cursor: pointer;
    margin: 0.2rem 0;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
}


.location:empty {
    background-color: transparent;
}